@media screen and (min-width: 1600px){
    .sec-1{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .sec-1::before{
        content: '';
        position: absolute;
        right: -7.5%;
        bottom: -10%;
        width: 45%;
        height: 100%;
        background-image: url("../../images/about/continens/brazilia.png");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(-2.5%);
    }
    .cards{
        width: 45%;
        height: 100%;
        position: relative;
        transition: all 0.4s ease-in;
        display: flex;
        flex-direction: column;
        margin-right: 2.5%;
    }
    .sec-one-img{
        width: 55%;
        height: 100%;
        position: relative;
        transition: all 0.8s ease-in-out;
        transform: translateX(-50%);
        appearance: none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .sec-one-img img{
        max-width: 80%;
        height: 80%;
        object-fit: fill;
    }
    .sec-one-img._active{
        transform: translateX(0);
        appearance: auto;
    }
    .divined{
        width: 100%;
        margin-top: 15%;
        margin-bottom: 5%;
        height: 5px;
        background-color: #ececec;
        transform: scale(0);
        transition: all 0.9s ease-in-out;
    }
    .divined._active{
        transform: scale(1);
    }
    .cards__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        font-family: "Roboto Light",sans-serif;
    }
    .cards__body{
        margin-top: 2.5%;
    }
    .cards__body p{
        margin: 2.5% 0;
        font-size: 1rem;
        font-family: raleway_c, sans-serif;
        line-height: 2.25rem;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1599px){
    .sec-1{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        position: relative;
        margin-bottom: 5%;
    }
    .sec-1::before{
        content: '';
        position: absolute;
        right: -7.5%;
        bottom: -10%;
        width: 45%;
        height: 100%;
        background-image: url("../../images/about/continens/brazilia.png");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(-2.5%);
    }
    .cards{
        width: 45%;
        height: 100%;
        position: relative;
        transition: all 0.4s ease-in;
        display: flex;
        flex-direction: column;
        margin-right: 2.5%;
    }
    .sec-one-img{
        width: 55%;
        height: 100%;
        position: relative;
        transition: all 0.8s ease-in-out;
        transform: translateX(-50%);
        appearance: none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .sec-one-img img{
        max-width: 80%;
        height: 80%;
        object-fit: fill;
    }
    .sec-one-img._active{
        transform: translateX(0);
        appearance: auto;
    }
    .divined{
        width: 100%;
        margin-top: 15%;
        margin-bottom: 5%;
        height: 5px;
        background-color: #ececec;
        transform: scale(0);
        transition: all 0.9s ease-in-out;
    }
    .divined._active{
        transform: scale(1);
    }
    .cards__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        font-family: "Roboto Light",sans-serif;
    }
    .cards__body{
        margin-top: 2.5%;
    }
    .cards__body p{
        margin: 2.5% 0;
        font-size: 1rem;
        font-family: raleway_c, sans-serif;
        line-height: 2.25rem;
    }
}
@media screen and (min-width: 426px) and (max-width: 1365px){
    .sec-1{
        padding-top: 10vh;
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: row;
        position: relative;
        margin-bottom: 25px;
    }
    .sec-1::before{
        content: '';
        position: absolute;
        right: -20px;
        bottom: -70%;
        width: 35%;
        height: 140%;
        background-image: url("../../images/about/continens/brazilia.png");
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateX(-2.5%);
    }
    .cards{
        width: 45%;
        height: 100%;
        position: relative;
        transition: all 0.4s ease-in;
        display: flex;
        flex-direction: column;
        margin-right: 2.5%;
    }
    .sec-one-img{
        width: 55%;
        height: 100%;
        transition: all 0.8s ease-in-out;
        transform: translateX(-50%);
        appearance: none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .sec-one-img img{
        max-width: 60%;
        object-fit: fill;
    }
    .sec-one-img._active{
        transform: translateX(0);
        appearance: auto;
    }
    .divined{
        width: 100%;
        height: 5px;
        background-color: #ececec;
        transition: all 0.9s ease-in-out;
        transform: scale(0);
    }
    .divined._active{
        transform: scale(1);
    }
    .cards__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        font-family: "Roboto Light",sans-serif;
        margin-top: 5%;
    }
    .cards__body{
        margin-top: 2.5%;
    }
    .cards__body p{
        margin: 2.5% 0;
        font-size: 1rem;
        font-family: raleway_c, sans-serif;
    }
}
@media screen and (max-width: 426px){
    .sec-1{
        padding-top: 12.5%;
        width: 100%;
        height: 950px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }
    .cards{
        margin: 0 5%;
        width: 90%;
        height: 100%;
        position: relative;
        transition: all 0.4s ease-in;
        display: flex;
        flex-direction: column;
    }
    .sec-one-img{
        position: relative;
        transition: all 0.8s ease-in-out;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec-one-img img{
        max-width: 80%;
        max-height: 80%;
        object-fit: fill;
    }
    .sec-one-img._active{
        transform: translateX(0);
        appearance: auto;
    }
    .divined{
        display: none;
    }
    .cards__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        font-family: "Roboto Light",sans-serif;
    }
    .cards__body{
        margin-top: 2.5%;
    }
    .cards__body p{
        margin: 2.5% 0;
        font-size: 1rem;
        font-family: raleway_c, sans-serif;
        line-height: 1.75rem;
    }
}