.program{
    width: 100%;
    height: 500%;
    overflow: hidden;
}
.program-header{
    width: 90%;
    margin: 0 5%;
}
.program-header h3{
    font-family: raleway_c, sans-serif;
    font-size: 2rem;
}
.program-day{
    width: 100%;
    height: 100%;
}
.day-title{
    width: 90%;
    height: 100px;
    margin: 0 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.day-title h4{
    margin-left: 2.5%;
    font-family: raleway_c, sans-serif;
    background-color: blue;
    color: white;
    padding: 1.5%;
    border-radius: 10px;
}
.day-title-link{
    background-color: blue;
    color: white;
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;
    padding: 0.5% 1%;
    border-radius: 50%;
    position: relative;
}
.day-body{
    width: 100%;
    height: 100%;
    display: none;
    transition: all 0.4s ease;
}
.day-body-title{
    width: 80%;
    margin: 0 10%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: "Roboto Light", sans-serif;
}
.day-body-title h2{
    margin-right: 2.5%;
}
.day-body-text{
    width: 80%;
    margin: 0 10%;
    font-family: raleway_c, sans-serif;
}
.day-body-text p{
    margin-bottom: 2.5%;
    line-height: 1.5rem;
}
.day-body-gallery{
    width: 80%;
    margin: 2.5% 10%;
}
.day-open{
    display: block;
}
@media screen and (max-width: 400px){
    .day-title-link{
        padding: 10px 15px;
    }
    .day-title h4{
        border-radius: 10px;
    }
}